<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Import styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <title>Vue Mastery Intro Course</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>

      <div class="cart">Cart({{ cart }})</div>

      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img
              :src="image"
              alt="socks"
              :class="{ 'out-of-stock-img': !inStock}"
            />
          </div>
          <div class="product-info">
            <h1>{{product}}</h1>
            <!-- Can also use v-show to display or hide an element
              using display='none' -->
            <!-- <p v-if="inStock">In Stock</p> -->
            <!-- Don't always need a v-else with a v-if -->
            <p v-if="inventory > 10">In Stock</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
            <p v-else>Out of Stock</p>
            <p v-show="onSale">On Sale!</p>
            <p>{{description}}</p>
            <ul>
              <li v-for="detail in details">{{detail}}</li>
            </ul>
            <div
              v-for="variant in variants"
              :key="variant.id"
              @mouseover="updateImage(variant.image)"
              class="color-circle"
              :style="{ backgroundColor: variant.color }"
            ></div>
            <button
              class="button"
              @click="addToCart"
              :disabled="!inStock"
              :class="{ disabledButton: !inStock}"
            >
              Add to Cart
            </button>
            <button
              class="button"
              @click="removeFromCart"
              :disabled="cart === 0"
              :class="{ disabledButton: cart === 0}"
            >
              Remove from Cart
            </button>
          </div>

          <label aria-label="sock-sizes">Sizes:</label>
          <ul aria-labelledby="sock-sizes">
            <li v-for="size in sizes">{{size}}</li>
          </ul>
        </div>
        <p>
          Check out the
          <a :href="url">Vue Mastery Course</a>
        </p>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app');
    </script>
  </body>
</html>
